body {
  background-image: url(img/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4rem 8rem;
}

.heroContainer {
  display: inline-flex;
  gap: 5rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  width: 633px;
  justify-content: center;
}

.heroHeading {
  font-size: 60px;
  margin-bottom: 2rem;
}

.heroDescription {
  text-align: justify;
  width: fit-content;
  font-size: 16px;
  margin-bottom: 2rem;
  width: 85%;
}

.buttonHero {
  padding: 16px 24px;
  background-color: var(--primary-500);
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid;
}

.buttonHero:hover {
  border: 1px solid;
  border-color: rgba(99, 37, 153, 1);
  background-color: #f5f2fe;
  color: #333333;
  text-decoration: none;
}

.camila-photo {
  width: 100%;
  object-fit: cover;
}

.socialLinks {
  margin-bottom: 2rem;
  --bs-gutter-x: none;
  gap: 0.2rem;
  display: flex;
  width: 80%;
}

.socialName {
  background-color: #f5f2fe;
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid;
  border-color: #f5f2fe;
  border-radius: 8px;
}
.socialName p {
  margin: 0.5rem 0 0;
}
.socialName a {
  text-decoration: none;
  color: var(--gray-700);
}

.socialName a svg {
  width: 20px;
  height: 20px;
}

.socialName:hover {
  background-color: rgba(99, 37, 153, 1);
  border: 1px solid;
  border-color: white;
}
.socialName:hover a {
  color: white;
}
.socialName:hover svg path {
  fill: #f5f2fe;
}

.what-i-do {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 8rem;
  background-color: rgba(240, 241, 243, 1);
}

row {
  justify-content: center;
  align-items: center;
}
.left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 80px;
  padding-left: 50px;
}

.h2WhatIdo {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5%;
}

.what-descprition {
  font-weight: 400;
  color: rgba(85, 96, 112, 1);
  font-size: 16px;
  padding-right: 100px;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  padding: 3rem;
}
.what-i-do-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  overflow: hidden;
  transition: border-left 0.3s;
  transition: all 150ms ease-in-out;
  border-left: 6px solid transparent;
}

.what-i-do-card:hover {
  border-left: 6px solid rgba(99, 37, 153, 1);
  box-shadow: 0 32px 96px #1b191929;
  transform: scale(1.1);
}

.card-title {
  font-weight: 600;
  margin-bottom: 2%;
  font-size: 24px;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0;
  flex-wrap: wrap;
}

.rowPortfolio {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 1.875rem;
  margin-top: -0.875rem;
  margin-bottom: 2rem;
}

.titlePort {
  color: #333333;
  font-size: 50px;
}

.projects {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.project-cont-right,
.project-cont-left {
  display: flex;
  width: 100%;
  height: 240px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 6px 64px #7090b01a;
  background-color: var(--graywhite);
}

.project-cont-right:hover,
.project-cont-left:hover {
  box-shadow: 0 32px 96px #1b191929;
}

.project-info {
  position: relative;
  width: 100%;
  padding: 3rem 2rem 3rem 3rem;
  background-color: var(--bg-white);
}

.project-title {
  color: var(--font-high-emphasis);
  font-size: 24px;
}

.project-description {
  align-self: stretch;
  font-weight: 400;
  color: var(--font-medium-emphasis);
  font-size: 16px;
  line-height: 27px;
  position: relative;
  letter-spacing: 0;
}

.button-project {
  display: inline-flex;
  align-items: flex-start;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid;
  background-color: rgba(99, 37, 153, 1);
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.button-project:hover {
  border: 1px solid;
  border-color: rgba(99, 37, 153, 1);
  background-color: #f5f2fe;
  color: #333333;
}

.project-image {
  width: 100%;
  object-fit: cover;
}
.project-content {
  display: flex;
  flex-direction: column;
  width: 407px;
  align-items: flex-start;
  gap: 1rem;
}
.moreProjects {
  margin-top: 1.25rem;
}

.work-process {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 8rem;
  background-color: var(--gray-50);
  flex-wrap: wrap;
}

.work-process-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.h2Work {
  color: #333333;
  font-size: 36px;
  white-space: nowrap;
}

.work-process-sum {
  position: relative;
  width: 529px;
  margin-top: -1px;
  font-weight: var(--body-large-400-font-weight);
  color: var(--gray-600);
  font-size: var(--body-large-400-font-size);
  letter-spacing: var(--body-large-400-letter-spacing);
  line-height: var(--body-large-400-line-height);
}

.work-process-cards {
  position: relative;
  width: 679px;
  height: 649px;
}

.work-process-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 300px;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--graywhite);
  border-radius: 12px;
  position: absolute;
  transition: box-shadow 0.3s;
}
.work-process-icon svg path {
  fill: var(--primary-500);
}
.work-process-card:hover {
  box-shadow: 32px 32px 124px #2b374c1a;
}

.work-process-card:hover .work-process-icon {
  background-color: var(--primary-500);
}

.work-process-card:hover svg path {
  fill: white;
}

.work-process-card-1 {
  top: 0;
  left: 0;
}

.work-process-card-2 {
  top: 331px;
  left: 14px;
}

.work-process-card-3 {
  top: 22px;
  left: 359px;
}

.work-process-card-4 {
  top: 355px;
  left: 365px;
}

.work-process-icon {
  padding: 20px;
  position: relative;
  border-radius: 6px;
  background-color: #f5f2fe;
  transition: background-color 0.3s;
}

.div-2 {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}

.work-process-stage {
  margin-top: -5px;
  font-weight: 600;
  color: var(--gray-900);
  font-size: 20px;
  white-space: nowrap;
}

.stage-description {
  width: 248px;
  color: var(--gray-600);
  font-size: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0;
}

.contactBox {
  display: flex;
  padding: 4rem;
  background-color: var(--graywhite);
  border-radius: 15px;
  box-shadow: 0 59px 124px #0000001f;
}
.lets-discuss-your {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.titleContact {
  align-self: stretch;
  margin-top: -1px;
  font-weight: 600;
  color: var(--gray-900);
  font-size: 36px;
}

.infoForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: var(--primary-500);
  border-radius: 4px;
  color: white;
  border: 2px solid transparent;
}

input[type="submit"]:hover {
  border-color: var(--primary-500);
  background-color: #f5f2fe;
  color: #333333;
  text-decoration: none;
}

.talkIcon {
  margin-left: -80px;
  margin-bottom: -50px;
}
.talkIcon svg {
  height: 180px;
  width: auto;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media (max-width: 900px) {
  .heroHeading {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .hero {
    padding: 2rem 2rem;
  }

  .heroContainer {
    width: 90%;
  }

  .heroDescription {
    width: fit-content;
    font-size: 12px;
    margin-bottom: 2rem;
  }

  .buttonHero {
    font-size: 14px;
  }

  .what-i-do {
    padding: 1rem 1rem;
  }

  .left-col {
    padding: 1rem 3rem;
  }

  .right-col {
    row-gap: 1rem;
    padding: 1rem 3rem;
  }

  .h2WhatIdo {
    font-size: 24px;
  }

  .card-title {
    font-size: 16px;
  }

  .what-descprition,
  .card-description {
    width: auto;
    font-size: 12px;
    padding-right: 0;
  }

  .what-i-do-card {
    padding: 1.5rem;
  }

  .portfolio {
    padding: 4rem 3rem;
  }

  .rowPortfolio {
    margin-bottom: 1rem;
  }

  .titlePort {
    font-size: 24px;
  }

  .projects {
    gap: 2rem;
  }

  .project-cont-right,
  .project-cont-left {
    flex-direction: column;
  }

  .project-image {
    display: none;
  }

  .project-content {
    width: auto;
    gap: 1rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-description {
    font-size: 12px;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }

  .button-project {
    font-size: 14px;
  }

  .moreProjects {
    margin-top: 0.5rem;
  }

  .contact {
    padding: 2rem 3rem;
  }

  .lets-discuss-your {
    gap: 1rem;
  }

  .titleContact {
    font-size: 24px;
  }

  input[type="text"],
  select,
  textarea {
    font-size: 12px;
  }

  input[type="submit"] {
    font-size: 14px;
  }

  .work-process {
    padding: 2rem 3rem;
    width: 100%;
  }

  .h2Work {
    font-size: 24px;
  }

  .work-process-sum,
  .stage-description {
    font-size: 12px;
    width: 100%;
  }

  .work-process-content {
    flex-direction: column;
    gap: 2rem;
  }

  .work-process-cards {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .work-process-card {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 2rem;
    height: auto;
    padding: 1rem;
  }

  .work-process-card-1,
  .work-process-card-2,
  .work-process-card-3,
  .work-process-card-4 {
    position: relative;
    left: auto;
    top: auto;
  }

  .copy {
    gap: 1rem;
  }

  .work-process-icon {
    padding: 0.5rem;
  }

  .work-process-icon svg {
    width: 16px;
    height: 16px;
  }

  .socialLinks {
    margin: 2rem 0 0;
    align-items: center;
    justify-content: space-evenly;
  }

  .socialName {
    display: none;
  }

  .talkIcon {
    margin-left: -80px;
    margin-bottom: -20px;
  }
  .talkIcon svg {
    height: 100px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .heroImg {
    display: none;
  }
  .contactBox {
    padding: 2rem;
  }
  .titleContact {
    font-size: 20px;
  }
  .talkIcon {
    display: none;
  }
}

@media only screen and (max-width: 1321px) and (min-width: 901px) {
  .work-process {
    padding: 6rem 6rem;
  }

  .work-process-content {
    margin-left: -45rem;
  }
  .work-process-sum {
    width: 350px;
  }

  .work-process-cards {
    width: 100%;
  }
  .work-process-card {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    width: auto;
    height: auto;
  }
  .work-process-icon {
    padding: 0.5rem;
  }

  .work-process-icon svg {
    width: 24px;
    height: 24px;
  }
  .work-process-stage {
    font-size: 16px;
  }
  .stage-description {
    font-size: 14px;
  }

  .right-col {
    row-gap: 2rem;
    padding: 1.5rem;
  }
  .left-col {
    padding-left: 25px;
  }
}
